// FOOTER styles

footer{
    background-color: $red;
    padding: 10px;
    p,
    a{
        text-transform: capitalize;
        color: $white;
        text-align: center;
        border-bottom: 2px solid transparent;
    }
    
    a:hover,
    a:focus,
    a:active{
        border-bottom: 2px solid $mauve;
    }
}