// home page styles


// MAIN styles------------------------------------------

// FIRST Section styles.........
.firstSection{
    background-color: $mauve;
    text-align: center;
    padding: 25% 0 20% 0;
    h2,
    p{
        padding-bottom: 50px;
    }
}

// SECOND section styles.........
.secondSection{
    background-color: $white;
}

.leftImg{
    display: flex;
    justify-content: space-between;
    height: auto;
    .rightContent{
        padding: 60px 50px 50px 0;  
        width: 50%;
    }
    figure{
        margin-right: 100px;
        width: calc(50%-100px);   
        img{
            position: relative;
            top: -30px;
            box-shadow: 30px 30px $orange;
        }
    }
}



.rightImg{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .leftContent{
        text-align: right;
        padding: 60px 0 60px 50px;
        width: 50%;
    }

    figure{
        margin-left: 100px;
        width: calc(50%-100px);
        img{
            position: relative;
            bottom: -30px;
            box-shadow: -30px 30px $orange;
        }
    }
}


.rightContent h4,
.leftContent h4{
    padding-bottom: 20px;
}

.rightContent p,
.leftContent p{
    padding-bottom: 30px;
}


// THIRD Section styles...........
.thirdSection{
    background-color: $mauve;
    padding: 100px 0;

    .information{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .infoContainer{
            width: 50%;
            padding: 30px 15px;
            display: flex;
        }
        
    }
}

.thirdSection i{
    font-size: 2.5rem;
    color: $white;
    background-color: $plum;
    padding: 10px;
    border-radius: 50%;
}

.sectionInfo{
    padding: 0px 15px;
}


// FOURTH section styles........

.fourthSection{
    height: auto;
}

// FIFTH section styles..............

.fifthSection{
    background-color: $white;
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    .popular{
        margin-left: 30px;
        padding-left: 30px;
        width: calc(70% - 30px);
        h2{
            padding-bottom: 15px;
        }
        p{
            padding-bottom: 25px;
        }
    }
    figure{
        img{
            position: relative;
            bottom: 30px;
            box-shadow: 30px 30px $orange;
        }
    }
}


// SIXTH section styles.............
.sixthSection{
    background-color: $mauve;
    padding: 50px 0;
    .gallery{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;

        figure{
            margin: 0 30px 0 0;
            width:calc( (100% - 60px) / 3);
        }
    }
}

.gallery figure:nth-child(3){
    margin-right: 0;
}


