// MEDIA Queries applicable for general styles..

// NAV changes......
@media (max-width: 1024px){
    .topNav{
        display: none;
    }

    .slidingMenuToggle{
        display: block;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked + .slidingMenu {
        top: 0;
        z-index: 1;
    }
}


// MOBILE Version.........
@media (max-width: 768px){

    .homePage,
    .aboutPage{
        background-image: url('../shoe-kloset/header-image-mobile.jpg');
    }

    .blogPage{
        background-image: url('../shoe-kloset/blog-header-mobile.jpg');
    }
    
    // Removing hover properties for phone users....
    .moreInfo:hover,
    .readInfo:hover,
    .submit:hover,
    .contactForm .submit:hover{
        color: white;
        font-weight: 400;
    }
    .moreInfo:hover,
    .readInfo:hover,
    .submit:hover{
        background-color: $plum;
        border: 5px solid $plum;
        font-weight: 400;
    }

    .readInfo:hover,
    .contactForm .submit:hover{
        background-color: $red;
        border: 5px solid $red;
    }

    
    .blogNav a:hover,
    .socialNav a:hover,
    footer a:hover{
        border-bottom: 2px solid transparent;
    }

    .formContainer{
        flex-wrap: wrap;
        input[type="text"],
        input[type="email"]{
            font-size: 1.8rem;
            padding: 10px 5px;
            margin: 0 auto 10px;
            width: 90%;
        }
    }

    textarea[id="message"]{
        font-size: 1.8rem;
        height: 40vh;
    }

    footer p{
        font-size: 1.5rem;
    }
}

// THHIRD Breaking point where shoe kloset logo cannot be seen 

@media (max-width: 600px){
    .homePage .logo,
    .aboutPage .logo{
        color: $mauve;
    }
}