// MEDIA queries for contact page.....
@media (max-width: 768px){
    .contactPage{
        h1.contact{
            width: auto;
            text-align: center;
        }
    }
    .contactContainer{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 10px;
        width: 100;
        
        .contactForm{
            position: static;
            box-shadow: -10px 10px $orange;
            margin: 0 auto;
            padding: 15px;
            width: 100%;
        }

        .contactInfo{
            margin-top: 50px;
            width: 100%;
            p{
                text-align: center;
            }
        }
    }

    // Aligning the social Nav...
    .socialNav{
        width: 100%;
        ul{
            justify-content: center;
            li:nth-child(1n){
                padding: 20px;
            }
        }
    }    
}
