// MEDIA Queries for Blog post page....
@media (max-width: 750px){
    .blogContainer{
        display: block;
        padding: 30px 0;
    }

    // MAIN Section styles.....
    .blogContainer .mainSection{
        margin: 0 auto;
        width: 90%;

        // Main blog post styles......
        .mainPost{
            position: static;
            figure{
                padding: 30px;
                width: 100%;
            }
        }

        // Commments section styles...
        .comments{
            position: static;
            margin-top: 30px;
            h2{
            margin-bottom: 30px;
            }
            .commentInfo div{
                padding: 20px;
            }
        }

        // FORM styles.....
        form{
            margin-top: 20px;
        }
    }

    .mainPost figure img{
        position: static;
    }

    .blogContainer aside{
        margin: 0 auto;
        width: 90%;
        .asideContent figure{
            position: static;
            padding: 20px;
            width: 100%;
        }

        .asideContent section{
            text-align: center;
            padding: 0 30px 30px;
        }
    }
}