// NAV styles for Header NAV, Sliding NAV, BLOG post NAV and Social websites NAV

// TOP Nav styles....
.topNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topNav li{
    list-style: none;
    a{
        padding: 5px 10px;
        margin: 0px 5px;
    }
    a:hover,
    a:focus,
    a:active{
        color: $white;
        background-color: $plum;
    }

}

// SOCIAL Nav for contact page..
.socialNav {
    width: 90%;
    ul{
        display: flex;
        align-items: center;
        li{
            padding: 20px;
            text-align: center;
        }
    }
}
    

.socialNav a{
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
}

.socialNav li:nth-child(1){
        padding-left: 0;
}

.socialNav a:hover,
.socialNav a:focus,
.socialNav a:active{
    border-bottom: 2px solid $plum;
}

/* SLIDING Menu styles ------------------------------------*/
/* Credit: The code was written with reference to the code exercise completed during ConEd web dev  course*/
.slidingMenuToggle{
    display: none;
    padding-top: 20px;

    .slidingMenu {
        background: $plum;	
        opacity: 0.8;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: -100%;
        transition: all 1s ease-in-out;
        height: auto;
        width: 100%;
        li{
            list-style: none;
        }
    }
}

.slidingMenu a{
    display: inline-block;
    transition: color 0.3s ease;
    padding: 20px;
    width: 100%;
}

.slidingMenu a:focus,
.slidingMenu a:active{
    color: $orange;
    border-bottom: 1px solid $orange;
} 

label {
    position: fixed;
    z-index: 2;
    color: $plum;
    font-size: 3rem;
    top: 20px;
    right: 20px;
}


