

// TOP Nav styles....
.topNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topNav li{
    list-style: none;
    a{
        padding: 5px 10px;
        margin: 0px 5px;
    }
    a:hover,
    a:focus,
    a:active{
        color: $white;
        background-color: $plum;
    }

}

// SOCIAL Nav for contact page..
.socialNav {
    width: 90%;
    ul{
        display: flex;
        align-items: center;
        li{
            padding: 20px;
            text-align: center;
        }
    }
}
    

.socialNav a{
        padding-bottom: 5px;
        border-bottom: 3px solid transparent;
}

.socialNav li:nth-child(1){
        padding-left: 0;
}

.socialNav a:hover,
.socialNav a:focus,
.socialNav a:active{
    border-bottom: 3px solid $plum;
}

/* SLIDING Menu styles ------------------------------------*/
/* Credit: The code was written with reference to the code exercise completed during ConEd web dev  course*/
.slidingMenuToggle{
    display: none;
    padding-top:20px;
    .slidingMenu {
        background: $mauve;	
        min-height: 100vh;
        position: fixed;
        right: -35%;
        width: 35%;
        transition: 0.5s;
        li{
            list-style: none;
        }
    }
}



.slidingMenu a{
    display: inline-block;
    padding: 20px;
    width: 100%;
}

.slidingMenu a:focus,
.slidingMenu a:active{
    border-bottom: 1px solid $plum;
} 

label {
    position: fixed;
    color: $plum;
    font-size: 3rem;
    top: 20px;
    right: 20px;
}


