h1{
    @include fontDef($fontDefault, 11rem)
    color:$plum;
}

h1.contact,
h1.blog,
h1.about{
    @include fontDef($fontDefault, 8rem,400,9.2rem,1.2px)
    color:$plum;
    text-align: center;
}

h2{
    @include fontDef($fontDefault, 5.2rem ,400 , 5rem, 1.2px)
    color: $plum;
}

h3{
    @include fontDef($fontDefault, 5.2rem ,400 , 5rem, 1.6px)
    color: $black;
}


h4{
    @include fontDef($fontDefault, 4.2rem ,400 , 5rem, 1.3px)
    color:$black;
}

h3.blogSide,
.emailInfo{
    @include fontDef($fontDefault, 3rem ,400 , 5rem, 1.3px)
    color: $plum;
}

.socialNav li{
    list-style: none;
    a{
        @include fontDef($fontDefault, 3rem ,400 , 5rem, 1.3px)
        color: $plum;
    }    
}

.slidingMenu a{
    @include fontDef($fontDefault, 3rem ,400 , 5rem, 1.3px)
    color: $plum;
    text-align: center;
}

.topNav a{
    @include fontDef($lato,2rem ,700 ,2.9rem ,1px )
    color: $black;
}

p,
footer,
.blogNav a{
    @include fontDef($lato, 2rem ,400 ,3.2rem ,1.1px)
    color: $black;
}

.blogNav a{
    text-transform: none;
    border-bottom: 2px solid transparent;
}


.blogNav ul li{
    list-style: none;
    i{
        padding-right: 10px;
    }
}


.blogDate{
    @include fontDef($lato, 2rem ,700 ,3.2rem ,1.1px)
    color: $black;
}

.logo{
    @include fontDef($fontDefault,3.58rem ,400 ,3.6rem ,1.1px)
    color:$black;
}

footer,
.firstSection h2{
    text-align: center;
}

a,
h2,
h3,
h4,
.moreInfo,
.readInfo,
h1.contact,
h1.blog,
h1.about,
.emailInfo{
    text-transform: uppercase;
    text-decoration: none;
}


// Form typography
input,
textarea{
    @include fontDef($lato, 2rem ,400 ,3.2rem ,1.1px);
    color: $black;
}




// BUTTON styles.......
// General style......

.moreInfo,
.readInfo,
.submit{
    @include fontDef($lato,2rem ,400 ,3.2rem ,1px )
    color: $white;
    padding: 10px 20px;
}


// general Hover/active/focus styles...
.moreInfo:hover,
.moreInfo:focus,
.moreInfo:active,
.readInfo:hover,
.readInfo:focus,
.readInfo:active,
.submit:hover,
.submit:focus,
.submit:active,
.contactForm .submit:hover,
.contactForm .submit:active,
.contactForm .submit:focus{
    background-color: transparent;
    color: black;
    font-weight: 700;
}

// HOME Button styles...

.moreInfo,
.readInfo{
    background-color:$plum;
    border: 5px solid $plum;
}

.readInfo{
    background-color: $red;
    border: 5px solid $red;
}

.moreInfo:hover,
.moreInfo:focus,
.moreInfo:active{
    border: 5px solid $plum;
}

.readInfo:hover,
.readInfo:focus,
.readInfo:active{
    border: 5px solid $red;
}

// BLOGPOST page post navigation hover styles.....
.blogNav a:hover,
.blogNav a:focus,
.blogNav a:active{
    border-bottom: 2px solid $plum;
}

// BLOGPOST submit BUTTON styles...
.submit{
    text-transform: uppercase;
    background-color: $plum;
    border: 5px solid $plum;
}

.submit:hover,
.submit:focus,
.submit:active{
    border: 5px solid $plum;
}



// CONTACT submit BUTTON styles....
.contactForm .submit{
    background-color: $red;
    border: 5px solid $red;
    padding: 0 30px;
}

.contactForm .submit:hover,
.contactForm .submit:active,
.contactForm .submit:focus{
    border: 5px solid $red;
}


