// Setting the SCSS variables
$plum: #4c0341;
$orange: #FE6F19;
$white: #fff;
$black: #0D0D0D;
$red: #882c07;
$mauve: #FAE5FF;
$fontDefault:'Pompiere', cursive;
$lato: 'Lato', sans-serif;

// After consulting designer on helpcue:

@mixin fontDef($family: $fontDefault,
$sizeValue: 2rem, 
$weight: 400, 
$lineHeight: 6.4rem, 
$letterSpacing: 1.1px) {
    font-family: $family;
    font-size: $sizeValue;
    font-weight: $weight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin:0;
}

img{
    display: block;
    width: 100%;
    height:auto;
}

.wrapper{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.wrapper1{
    max-width: 640px;
    width:80%;
    margin: 0 auto;
}