// Setting the SCSS variables
$plum: #4c0341;
$orange: #FE6F19;
$white: #fff;
$black: #0D0D0D;
$red: #882c07;
$mauve: #FAE5FF;
$fontDefault:'Pompiere', cursive;
$lato: 'Lato', sans-serif;

// To consult Designer: default line height & letter spacing
@mixin fontDef($family: $fontDefault,
$sizeValue: 2rem, 
$weight: 400, 
$lineHeight: 6.4rem, 
$letterSpacing: 1.1px) {
    font-family: $family;
    font-size: $sizeValue;
    font-weight: $weight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin flexDef($flex:flex, $direction:row, $justify:center, $align:center){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}



html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin:0;
}

img{
    display: block;
    width: 100%;
    height:auto;
}

a,
h2,
h3,
.moreInfo,
.readInfo{
    text-transform: uppercase;
    text-decoration: none;
}

footer a{
    text-transform: capitalize;
}

.wrapper{
    max-width:1240px;
    width: 90%;
    margin: 0 auto;
}