html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.wrapper1 {
  max-width: 640px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: "Pompiere", cursive;
  font-size: 11rem;
  font-weight: 400;
  line-height: 6.4rem;
  letter-spacing: 1.1px;
  color: #4c0341;
}

h1.contact,
h1.blog,
h1.about {
  font-family: "Pompiere", cursive;
  font-size: 8rem;
  font-weight: 400;
  line-height: 9.2rem;
  letter-spacing: 1.2px;
  color: #4c0341;
  text-align: center;
}

h2 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 1.2px;
  color: #4c0341;
}

h3 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 1.6px;
  color: #0D0D0D;
}

h4 {
  font-family: "Pompiere", cursive;
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 1.3px;
  color: #0D0D0D;
}

h3.blogSide,
.emailInfo {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 1.3px;
  color: #4c0341;
}

.socialNav li {
  list-style: none;
}

.socialNav li a {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 1.3px;
  color: #4c0341;
}

.slidingMenu a {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 1.3px;
  color: #4c0341;
  text-align: center;
}

.topNav a {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 1px;
  color: #0D0D0D;
}

p,
footer,
.blogNav a {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 1.1px;
  color: #0D0D0D;
}

.blogNav a {
  text-transform: none;
  border-bottom: 2px solid transparent;
}

.blogNav ul li {
  list-style: none;
}

.blogNav ul li i {
  padding-right: 10px;
}

.blogDate {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 1.1px;
  color: #0D0D0D;
}

.logo {
  font-family: "Pompiere", cursive;
  font-size: 3.58rem;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: 1.1px;
  color: #0D0D0D;
}

footer,
.firstSection h2 {
  text-align: center;
}

a,
h2,
h3,
h4,
.moreInfo,
.readInfo,
h1.contact,
h1.blog,
h1.about,
.emailInfo {
  text-transform: uppercase;
  text-decoration: none;
}

input,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 1.1px;
  color: #0D0D0D;
}

.moreInfo,
.readInfo,
.submit {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 20px;
}

.moreInfo:hover,
.moreInfo:focus,
.moreInfo:active,
.readInfo:hover,
.readInfo:focus,
.readInfo:active,
.submit:hover,
.submit:focus,
.submit:active,
.contactForm .submit:hover,
.contactForm .submit:active,
.contactForm .submit:focus {
  background-color: transparent;
  color: black;
  font-weight: 700;
}

.moreInfo,
.readInfo {
  background-color: #4c0341;
  border: 5px solid #4c0341;
}

.readInfo {
  background-color: #882c07;
  border: 5px solid #882c07;
}

.moreInfo:hover,
.moreInfo:focus,
.moreInfo:active {
  border: 5px solid #4c0341;
}

.readInfo:hover,
.readInfo:focus,
.readInfo:active {
  border: 5px solid #882c07;
}

.blogNav a:hover,
.blogNav a:focus,
.blogNav a:active {
  border-bottom: 2px solid #4c0341;
}

.submit {
  text-transform: uppercase;
  background-color: #4c0341;
  border: 5px solid #4c0341;
}

.submit:hover,
.submit:focus,
.submit:active {
  border: 5px solid #4c0341;
}

.contactForm .submit {
  background-color: #882c07;
  border: 5px solid #882c07;
  padding: 0 30px;
}

.contactForm .submit:hover,
.contactForm .submit:active,
.contactForm .submit:focus {
  border: 5px solid #882c07;
}

.homePage,
.blogPage,
.contactPage,
.aboutPage {
  background-image: url("../shoe-kloset/header-image.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 20px 0;
}

.homePage h1,
.blogPage h1,
.contactPage h1,
.aboutPage h1 {
  margin: 0;
  padding: 150px 0;
  max-width: 20%;
}

h1.contact,
h1.blog,
h1.about {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  max-width: 10%;
}

.headerImg {
  margin: 0;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  bottom: 20vh;
}

.blogPage {
  background-image: url("../shoe-kloset/blog-header.jpg");
}

.contactPage {
  background-image: url("../shoe-kloset/contact-image.jpg");
  min-height: 70vh;
  background-position: inherit;
  background-attachment: scroll;
}

.topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNav li {
  list-style: none;
}

.topNav li a {
  padding: 5px 10px;
  margin: 0px 5px;
}

.topNav li a:hover,
.topNav li a:focus,
.topNav li a:active {
  color: #fff;
  background-color: #4c0341;
}

.socialNav {
  width: 90%;
}

.socialNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialNav ul li {
  padding: 20px;
  text-align: center;
}

.socialNav a {
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

.socialNav li:nth-child(1) {
  padding-left: 0;
}

.socialNav a:hover,
.socialNav a:focus,
.socialNav a:active {
  border-bottom: 3px solid #4c0341;
}

/* SLIDING Menu styles ------------------------------------*/
/* Credit: The code was written with reference to the code exercise completed during ConEd web dev  course*/
.slidingMenuToggle {
  display: none;
  padding-top: 20px;
}

.slidingMenuToggle .slidingMenu {
  background: #FAE5FF;
  min-height: 100vh;
  position: fixed;
  right: -35%;
  width: 35%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slidingMenuToggle .slidingMenu li {
  list-style: none;
}

.slidingMenu a {
  display: inline-block;
  padding: 20px;
  width: 100%;
}

.slidingMenu a:focus,
.slidingMenu a:active {
  border-bottom: 1px solid #4c0341;
}

label {
  position: fixed;
  color: #4c0341;
  font-size: 3rem;
  top: 20px;
  right: 20px;
}

.firstSection {
  background-color: #FAE5FF;
  text-align: center;
  padding: 25% 0 20% 0;
}

.firstSection h2,
.firstSection p {
  padding-bottom: 50px;
}

.secondSection {
  background-color: #fff;
}

.leftImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

.leftImg .rightContent {
  padding: 60px 50px 50px 0;
  width: 50%;
}

.leftImg figure {
  margin-right: 100px;
  width: calc(50%-100px);
}

.leftImg figure img {
  position: relative;
  top: -30px;
  -webkit-box-shadow: 30px 30px #FE6F19;
          box-shadow: 30px 30px #FE6F19;
}

.rightImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rightImg .leftContent {
  text-align: right;
  padding: 60px 0 60px 50px;
  width: 50%;
}

.rightImg figure {
  margin-left: 100px;
  width: calc(50%-100px);
}

.rightImg figure img {
  position: relative;
  bottom: -30px;
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
}

.rightContent h4,
.leftContent h4 {
  padding-bottom: 20px;
}

.rightContent p,
.leftContent p {
  padding-bottom: 30px;
}

.thirdSection {
  background-color: #FAE5FF;
  padding: 100px 0;
}

.thirdSection .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.thirdSection .information .infoContainer {
  width: 50%;
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thirdSection i {
  font-size: 2.5rem;
  color: #fff;
  background-color: #4c0341;
  padding: 10px;
  border-radius: 50%;
}

.sectionInfo {
  padding: 0px 15px;
}

.fourthSection {
  height: auto;
}

.fifth {
  background-color: #fff;
  min-height: 30vh;
}

.fifthSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.fifthSection .popular {
  margin-left: 30px;
  padding-left: 30px;
  width: calc(70% - 30px);
}

.fifthSection .popular h2 {
  padding-bottom: 15px;
}

.fifthSection .popular p {
  padding-bottom: 25px;
}

.fifthSection figure img {
  position: relative;
  bottom: 30px;
  -webkit-box-shadow: 30px 30px #FE6F19;
          box-shadow: 30px 30px #FE6F19;
}

.sixthSection {
  background-color: #FAE5FF;
  padding: 50px 0;
}

.sixthSection .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sixthSection .gallery figure {
  margin: 0 30px 0 0;
  width: calc( (100% - 60px) / 3);
}

.gallery figure:nth-child(3) {
  margin-right: 0;
}

main {
  background-color: #FAE5FF;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.contactContainer .contactForm {
  padding: 50px;
  background-color: #fff;
  -webkit-box-shadow: -50px 50px #FE6F19;
          box-shadow: -50px 50px #FE6F19;
  position: relative;
  top: -25vh;
  margin-left: 100px;
  width: calc(70% - 100px);
}

.contactContainer .contactInfo {
  width: 25%;
}

.contactContainer .contactInfo .emailInfo {
  padding-bottom: 15px;
}

.blogPage {
  background-image: url("../shoe-kloset/blog-header.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px 0;
}

.blogContainer {
  background-color: #FAE5FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.blogContainer .mainSection {
  margin-left: 50px;
  width: calc(60% - 50px);
}

.mainPost {
  background-color: #fff;
  position: relative;
  top: -20vh;
  padding-bottom: 20px;
}

.mainPost .post {
  padding: 20px;
}

.mainPost .post .heading {
  padding: 20px 0 50px 0;
}

.mainPost .post p {
  padding: 10px 0;
}

.mainPost figure {
  width: calc(100% - 30px);
}

.mainPost figure img {
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
  position: relative;
  top: -30px;
  right: -30px;
}

.comments {
  position: relative;
  top: -10vh;
}

.comments h2 {
  margin-bottom: 50px;
}

.commentInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentInfo div {
  padding: 30px 20px;
  width: calc(70% - 60px);
}

.commentInfo div .blogDate {
  padding-bottom: 15px;
}

.commentInfo figure {
  padding: 20px;
  width: 30%;
}

aside {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding: 20px;
  margin: 50px 20px 0 100px;
  width: calc(40% - 120px);
}

aside .asideContent {
  background-color: #fff;
}

aside .asideContent section {
  padding: 30px;
}

aside .asideContent figure {
  width: calc(100% + 100px);
  position: relative;
  left: -120px;
  top: -20px;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="text"],
input[type="email"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FE6F19;
  padding: 20px 5px;
}

input[type="text"] {
  margin: 0;
  margin-right: 20px;
  width: calc(50% - 20px);
}

input[type="email"] {
  margin: 0;
  margin-left: 20px;
  width: calc(50% - 20px);
}

textarea[id="message"] {
  background-color: transparent;
  border: 2px solid #FE6F19;
  padding: 10px;
  margin: 30px 0;
  width: 100%;
}

input[type="submit"] {
  padding: 15px 30px;
  margin-bottom: 50px;
  width: 100%;
}

.contactForm .submit {
  margin: 0;
}

footer {
  background-color: #882c07;
  padding: 10px;
}

footer p,
footer a {
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid transparent;
}

footer a:hover,
footer a:focus,
footer a:active {
  border-bottom: 2px solid #FAE5FF;
}

@media (max-width: 1024px) {
  .topNav {
    visibility: hidden;
  }
  .slidingMenuToggle {
    display: block;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .slidingMenu {
    right: 0;
    z-index: 999;
  }
}

@media (max-width: 750px) {
  .moreInfo:hover,
  .readInfo:hover,
  .submit:hover,
  .contactForm .submit:hover {
    color: white;
    font-weight: 400;
  }
  .moreInfo:hover,
  .readInfo:hover,
  .submit:hover {
    background-color: #4c0341;
    border: 5px solid #4c0341;
    font-weight: 400;
  }
  .readInfo:hover,
  .contactForm .submit:hover {
    background-color: #882c07;
    border: 5px solid #882c07;
  }
  .blogNav a:hover {
    border-bottom: 2px solid transparent;
  }
  .formContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .formContainer input[type="text"],
  .formContainer input[type="email"] {
    margin: 0 0 10px;
    width: 100%;
  }
  footer a:hover {
    border-bottom: 2px solid transparent;
  }
  footer p {
    font-size: 1.5rem;
  }
}

@media (max-width: 690px) {
  .homePage .logo {
    color: #FAE5FF;
  }
}

@media (max-width: 900px) {
  .headerImg {
    bottom: -5vh;
  }
}

@media (max-width: 750px) {
  .headerImg {
    width: 35%;
    bottom: -20vh;
  }
  .leftImg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .leftImg figure {
    margin: 50px auto;
    width: 80%;
  }
  .leftImg figure img {
    position: static;
  }
  .leftImg .rightContent {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
  }
  .rightImg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rightImg figure {
    margin: 50px auto;
    width: 80%;
  }
  .rightImg figure img {
    position: static;
  }
  .rightImg .leftContent {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
  }
  .thirdSection {
    padding: 50px 0;
  }
  .thirdSection .information .infoContainer {
    width: 100%;
  }
  .fifthSection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .fifthSection figure {
    margin: 50px auto;
    width: 50%;
  }
  .fifthSection figure img {
    position: static;
  }
  .fifthSection .popular {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
  }
  .sixthSection .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sixthSection .gallery figure {
    margin: 20px auto;
    padding: 10px;
    width: 60%;
  }
}

@media (max-width: 750px) {
  .blogContainer {
    display: block;
    padding: 30px 0;
  }
  .blogContainer .mainSection {
    margin: 0 auto;
    width: 90%;
  }
  .blogContainer .mainSection .mainPost {
    position: static;
  }
  .blogContainer .mainSection .mainPost figure {
    padding: 30px;
    width: 100%;
  }
  .blogContainer .mainSection .comments {
    position: static;
    margin-top: 30px;
  }
  .blogContainer .mainSection .comments h2 {
    margin-bottom: 30px;
  }
  .blogContainer .mainSection .comments .commentInfo div {
    padding: 20px;
  }
  .blogContainer .mainSection form {
    margin-top: 20px;
  }
  .mainPost figure img {
    position: static;
  }
  .blogContainer aside {
    margin: 0 auto;
    width: 90%;
  }
  .blogContainer aside .asideContent figure {
    position: static;
    padding: 20px;
    width: 100%;
  }
  .blogContainer aside .asideContent section {
    text-align: center;
    padding: 0 30px 30px;
  }
}
